<div class="row justify-content-center mt-5 pt-5">
  <div class="col-10 mt-5 pt-5">
    <h2 class="text-large text-light font-weight-light">Sign up</h2>
    <form class="">
      <div class="form-group">
        <label for="firstname"></label>
        <input type="text" class="form-control bg-trans text-light margin-left-trans-1"
        [ngClass]="toggleAnimation? 'animated margin-normal': ''" id="firstname" aria-describedby="" placeholder="Enter Firstame">
      </div>
      <div class="form-group">
        <label for="lastname"></label>
        <input type="text" class="form-control bg-trans text-light margin-left-trans-2"
        [ngClass]="toggleAnimation? 'animated margin-normal': ''" id="lastname" aria-describedby="" placeholder="Enter Lastname">
      </div>
      <div class="form-group">
        <label for="email"></label>
        <input type="email" class="form-control bg-trans text-light margin-left-trans-3"
        [ngClass]="toggleAnimation? 'animated margin-normal': ''" id="email" aria-describedby="" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password"></label>
        <input type="password" class="form-control bg-trans text-light margin-left-trans-4"
          [ngClass]="toggleAnimation? 'animated margin-normal': ''" id="password" placeholder="Password">
      </div>
      <div class="text-center">
        <button type="submit" class="btn bg-green text-light mt-5 d-inline" [ngClass]="toggleAnimation? 'animated duration--5s slideInRight': ''">Submit</button>
      </div>
    </form>
  </div>
</div>
<div class="row justify-content-center py-4">
  <div class="col text-center"
    [ngClass]="toggleAnimation? 'animated duration--5s slideInRight': ''" >
    <a href="https://www.behance.net/isahohiekufa98" target="_blank" class="m-3 text-green linkStyle"><i class="fab fa-behance fa-3x"></i></a>
    <a href="https://www.dribble.com/isahohieku" target="_blank" class="m-3 text-green linkStyle"><i class="fab fa-dribbble fa-3x"></i></a>
    <a href="https://www.linkedin.com/in/isah-ohieku-b982a6164" target="_blank" class="m-3 text-green linkStyle"><i class="fab fa-linkedin-in fa-3x"></i></a>
    <a href="https://www.github.com/isahohieku" target="_blank" class="m-3 text-green linkStyle"><i class="fab fa-github fa-3x"></i></a>
  </div>
</div>